# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj
*.dSYM

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
.dylib
*.dll

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
run

# Misc
build
target
.gradle
